/* CSS Document */

body{
    margin:0;
    padding:0;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#008A00;

    /*background-color:#a4d99d;
    background-image:url(../images/bgTile.jpg);
    background-repeat:repeat-x;*/
    
    background: linear-gradient(rgb(146, 186, 231) 2.0343%, rgb(164, 217, 157) 101.7165%);
    background-repeat: no-repeat;
    background-color: rgb(164, 217, 157);
    
    overflow: hidden; /* sometimes we get an extra pixel on y.. */
}

a{
    color:#008A00;
}

img{
    pointer-events: none;
    user-select: none;
}

#container{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    /* https://stackoverflow.com/questions/60391447/css-fit-a-div-inside-viewport-while-keeping-aspect-ratio */
    width: min(100vw, 151.1811vh);
    height: min(100vh, 66.1458vw);
    /*border:1px solid #000000;*/
}

#logo{
    position:absolute;
    left:0.2083%;
    top:0;
    z-index:0;
    overflow:hidden;
}

#frameLeft{
    position:relative;
    z-index:1;
}

#nav{
    position:absolute;
    left:14.5833%;
    top:0;
    z-index:5;
}

#flash{
    position:absolute;
    top:10.3937%;
    left:2.0833%;
    /*border:1px solid #FF0000;*/
    z-index:999;
}
