/* CSS Document */

body{
    margin:0;
    padding:0;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#008A00;

    /*background-color:#a4d99d;
    background-image:url(../images/bgTile.jpg);
    background-repeat:repeat-x;*/
    
    background: linear-gradient(rgb(146, 186, 231) 12.918px, rgb(164, 217, 157) 645.9px);
    background-repeat: no-repeat;
    background-color: rgb(164, 217, 157);
}

a{
    color:#008A00;
}

img{
    pointer-events: none;
    user-select: none;
}

#container{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:960px;
    /*border:1px solid #000000;*/
}

#logo{
    position:absolute;
    left:2px;
    top:0;
    z-index:0;
    overflow:hidden;
}

#frameLeft{
    position:relative;
    z-index:1;
}

#nav{
    position:absolute;
    left:140px;
    top:0;
    z-index:5;
}

#flash{
    position:absolute;
    top:66px;
    left:20px;
    /*border:1px solid #FF0000;*/
    z-index:999;
}
