#gameContainer canvas {
    background-image: url('/WeevilWorld/splash_screen_960x600.png');
	background-repeat: no-repeat;
    background-position:50% 50%;
	background-size:contain;
}

.webgl-content .progress {position: absolute; left: 51%; top: 78%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}
