<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta name="viewport" content="width=960, height=650, initial-scale=1.0"/>
    <title>Bin Weevils - Free Online 3D virtual world | Online Games | Watch Videos | Enter Competitions</title>
    <link rel="stylesheet" href="/css/game_old.css"/>
    <partial name="Ruffle"/>
</head>
<body>
<div id="container">
    <img id="frameLeft" src="/images/frameLeft_old.jpg" width="25" height="632" asp-append-version="true">
    <img id="logo" src="/images/logo_on_gradBG_70.jpg" width="144" height="144">
    <object type="application/x-shockwave-flash" id="nav" data="/navbar_logout.swf" width="820" height="66">
        <param name='movie' value="/main_20_02_14.swf?ver=1"/>
        <param name='FlashVars' value="user="/>

        <param name='quality' value="high"/>
        <param name='bgcolor' value="#4F95FF"/>
        <param name='wmode' value="transparent"/>
    </object>
    <object type="application/x-shockwave-flash" id="flash" data="/main.swf" width="940" height="560">
        <param name='movie' value="/main.swf"/>
        <param name='FlashVars' value="cluster=h&loginPath=&zone="/>

        <param name='quality' value="high"/>
        <param name='bgcolor' value="#4F95FF"/>
        <param name='allowFullScreen' value="true"/>
        <param name='wmode' value="window"/>
        <param name='allowScriptAccess' value="always"/>
    </object>
</div>

</body>
</html>