@attribute [ResponseCache(Duration = 60*60*60)]

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <!--<meta name="viewport" content="width=960, height=635, initial-scale=1.0"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Bin Weevils - Free Online 3D virtual world | Online Games | Watch Videos | Enter Competitions</title>
    <link rel="stylesheet" href="/css/game_old.css" asp-append-version="true"/>
    <partial name="Ruffle"/>
</head>
<body>
<div id="container">
    <img id="frameLeft" src="/images/frameLeft_old.jpg" height="99.5275%" asp-append-version="true">
    <img id="logo" src="/images/logo_on_gradBG_70.jpg" height="22.6771%">
    <!-- ordered this way because the first ruffle instance will load quicker -->
    <object type="application/x-shockwave-flash" id="flash" data="/main.swf" width="97.9166%" height="88.1889%">
        <param name='FlashVars' value="cluster=h&loginPath=&zone="/>

        <param name='quality' value="high"/>
        <param name='bgcolor' value="#4F95FF"/>
        <param name='allowFullScreen' value="true"/>
        <param name='wmode' value="window"/>
        <param name='allowScriptAccess' value="always"/>
    </object>
    <object type="application/x-shockwave-flash" id="nav" data="/navbar_logout.swf" width="85.4166%" height="10.3937%">
        <param name='FlashVars' value="user="/>

        <param name='quality' value="high"/>
        <param name='bgcolor' value="#4F95FF"/>
        <param name='wmode' value="transparent"/>
    </object>   
</div>

</body>
</html>