/*! CSS Used from: https://127.0.0.1/css/blog.css?v=14 */
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
canvas{display:inline-block;vertical-align:baseline;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
a{color:#337ab7;text-decoration:none;}
a:focus,a:hover{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.img-responsive{display:block;max-width:100%;height:auto;}
ul{margin-top:0;margin-bottom:10px;}
.list-unstyled{padding-left:0;list-style:none;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:1170px;}
}
.row{margin-right:-15px;margin-left:-15px;}
.col-lg-7,.col-md-12,.col-md-2,.col-md-3,.col-sm-2,.col-sm-4,.col-sm-8,.col-xs-12,.col-xs-2{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12,.col-xs-2{float:left;}
.col-xs-12{width:100%;}
.col-xs-2{width:16.66666667%;}
@media (min-width:768px){
.col-sm-2,.col-sm-4,.col-sm-8{float:left;}
.col-sm-8{width:66.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-2{width:16.66666667%;}
}
@media (min-width:992px){
.col-md-12,.col-md-2,.col-md-3{float:left;}
.col-md-12{width:100%;}
.col-md-3{width:25%;}
.col-md-2{width:16.66666667%;}
}
@media (min-width:1200px){
.col-lg-7{float:left;}
.col-lg-7{width:58.33333333%;}
}
.progress{height:20px;margin-bottom:20px;overflow:hidden;background-color:#f5f5f5;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}
.container:after,.container:before,.row:after,.row:before{display:table;content:" ";}
.container:after,.row:after{clear:both;}
.pull-left{float:left!important;}
.visible-md{display:none!important;}
@media (min-width:992px) and (max-width:1199px){
.visible-md{display:block!important;}
}
@media (max-width:767px){
.hidden-xs{display:none!important;}
}
@media (min-width:768px) and (max-width:991px){
.hidden-sm{display:none!important;}
}
@media (min-width:992px) and (max-width:1199px){
.hidden-md{display:none!important;}
}
@media (min-width:1200px){
.hidden-lg{display:none!important;}
}
body{color:#333;font-size:13px;line-height:1.6;}
li,li a{color:#555;}
a{color:#72c02c;text-decoration:none;}
a,a:focus,a:hover,a:active{outline:0!important;}
a:focus{text-decoration:none;}
a:hover{color:#72c02c;text-decoration:underline;}
.wrapper{background:#fff;}
#topcontrol{color:#fff;z-index:99;width:30px;height:30px;font-size:20px;background:#222;position:relative;right:14px!important;bottom:11px!important;border-radius:3px!important;}
#topcontrol:after{top:-2px;left:8.5px;content:"\f106";position:absolute;text-align:center;font-family:FontAwesome;}
#topcontrol:hover{color:#fff;background:#72c02c;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
a,a:focus,a:hover,a:active{outline:0!important;}
a:focus{text-decoration:none;}
.progress{background:#e5e5e5;}
.progress{position:relative;}
.header{z-index:99;background:#fff;position:relative;border-bottom:solid 2px #eee;}
.footer-v1 .footer{padding:40px 0;background:#272727;}
.pull-left{float:left;}
.footer-v1 .footer{background:#69b22c;padding:10px 0;}
#footer-links li{display:inline-block;padding-top:7px;}
#footer-links a{color:white;font-family:'Nunito', sans-serif;font-weight:bold;font-size:16px;}
#footer-links a:hover{color:white;text-decoration:underline;}
#footer-links a.footer-ltd{font-size:13px;font-weight:normal;cursor:default;}
#footer-links a.footer-ltd:hover{text-decoration:none;}
.wrapper{background-color:#2c7b04;overflow:hidden;}
.container{position:relative;padding-top:0;}
.under-container-content{background:url("/assets/img/blog/blue_bg.jpg") repeat-x;background-position:top;}
@media all and (min-width: 1900px){
.under-container-content{margin:0 18%;}
}
#container-header{background-color:#35C0FF;}
.header{height:110px;background:transparent;}
.header{border-bottom:0;}
.nav-bar{height:110px;margin-bottom:0;}
.nav-bar a:hover{text-decoration:none;}
.nav-bar .logo{max-width:140px;position:absolute;top:8px;margin:0;}
.nav-center{position:relative;display:inline-block;top:23px;left:6px;}
.nav-green-bg{position:absolute;}
.nav-icons{position:absolute;top:-5px;left:0;}
.nav-icons a{padding-left:30px;}
.nav-center-medium{position:relative;display:inline-block;top:23px;left:-14px;}
.nav-green-bg-medium{position:absolute;left:265px;}
.nav-icons-medium{position:absolute;top:-1px;left:265px;}
@media all and (max-width: 1199px){
.nav-center{display:none;}
}
@media only screen and (max-width: 990px){
.nav-bar .logo{display:none;}
.header{height:55px;}
}
.nav-right-login-www{position:absolute;top:16px;right:30px;}
#container-content-home{background:white;position:relative;}
div.container{padding-left:0;padding-right:0;}